    <footer>
      <div class="module module-green module-small">
        <div class="row limit">
          <div class="two columns hide-small">
            <div class="six columns">
              <figure>
                <img src="{{ "/images/logo-noname.png" | prepend: site.baseurl }}" alt="">
              </figure>
            </div>
          </div>
          <div class="five columns">
            <div class="small-space-group bold">Stay up to date with the TIMBY world, leave your email.</div>
            <div class="clearfix">
                <input type="text" class="input-small input-with-button__input pull-left" placeholder="Email Address">
                <input type="submit" value="Submit" class="btn btn-red pull-left input-with-button__button">
            </div>
          </div>
          <div class="four columns">
              <div class="four columns no-margin preserve">
                <a href="https://www.facebook.com/timby">
                  <span class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x  text-green"></i>
                  </span>
                </a>
              </div>
              <div class="four columns no-margin preserve">
                <a href="https://www.twitter.com/">
                  <span class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x  text-green"></i>
                  </span>
                </a>
              </div>
              <div class="four columns">
                <ul class="text-list text-center bold uppercase">
                  <li><a href="">Features</a></li>
                  <li><a href="">Case Studies</a></li>
                  <li><a href="">About</a></li>
                  <li><a href="">Blog</a></li>
                </ul>
              </div>
          </div>
        </div>
      </div>
      <div class="row funders">
        <div class="funder-label"><span>Proudly</span> <span>Supported</span> <span>By</span></div>
        <div class="funder-logos">
          <div class="funder-logo">
            <figure>
              <img src="{{ "/images/logo-ami.jpg" | prepend: site.baseurl }}" alt="">
            </figure>
          </div>
          <div class="funder-logo">
            <figure>
              <img src="{{ "/images/logo-tribeca.jpg" | prepend: site.baseurl }}" alt="">
            </figure>
          </div>
          <div class="funder-logo">
            <figure>
              <img src="{{ "/images/logo-mavc.jpg" | prepend: site.baseurl }}" alt="">
            </figure>
          </div>
        </div>
      </div>
    </footer>

<!-- Jquery, Slick and app.js  -->
<script defer src="{{ "/bower_components/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
<script defer src="{{ "/js/app.js" | prepend: site.baseurl }}"></script>

