    <footer>
      <section class="module module-gray row">
        <div class="row limit">
            <h3 class="text-gray text-center">Our Supporters</h3>
        </div>
        <div class="row limit ">
          <div class="three columns">
            <figure>
              <img src="{{ "/images/mavc.png" | prepend: site.baseurl }}" alt="">

            </figure>
          </div>
          <div class="three columns">
            <figure>
              <img src="{{ "/images/tfi.png" | prepend: site.baseurl }}" alt="">

            </figure>
          </div>
          <div class="three columns">
            <figure>
              <img src="{{ "/images/anic.png" | prepend: site.baseurl }}" alt="">

            </figure>
          </div>
          <div class="three columns">
            <figure>
              <img src="{{ "/images/ford.png" | prepend: site.baseurl }}" alt="">

            </figure>
          </div>

        </div>
        <div class="row limit">
          <div class="three columns">
            <figure>
              <img src="{{ "/images/internews.png" | prepend: site.baseurl }}" alt="">
            </figure>
          </div>
          <div class="three columns">
            <figure>
              <img src="{{ "/images/ami.png" | prepend: site.baseurl }}" alt="">

            </figure>
          </div>
          <div class="three columns">
            <figure>
              <img src="{{ "/images/cfa.png" | prepend: site.baseurl }}" alt="">

            </figure>
          </div>
        </div>
      </section>
      <section class="module module-gray row">
        <div class="row limit">
            <h3 class="text-gray text-center">Get in Touch</h3>
        </div>
        <div class="row limit">
          <div class="five shift-two columns">
            <div class="clearfix" style="margin-top: 10px">
                <form action="https://getsimpleform.com/messages?form_api_token=ec5a49ff766436e4624cbc13287b271a" method="post">
                    <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
                    <input type='hidden' name='redirect_to' value='http://ryanhbowman.github.io/timby-pages/thanks.html' />
                    <input type="text" name="emailtop" class="input-small pull-left input-with-button__input" placeholder="Sign up for launch information">
                    <input type="submit" value="Sign Up" class="btn btn-red pull-left input-with-button__button">
            </div>
          </div>
          <div class="footer-social">
            <a href="https://www.facebook.com/profile.php?id=100007822067128&fref=ts">
              <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x text-lightwhite"></i>
              </span>
            </a>
          </div>
          <div class="footer-social">
            <a href="https://twitter.com/timbyafrica">
              <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x text-lightwhite"></i>
              </span>
            </a>
          </div>
        </div>
      </section>


    </footer>

<!-- Jquery, Slick and app.js  -->

<script  src="{{ "/bower_components/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
<script  src="{{ "/bower_components/slick.js/slick/slick.min.js" | prepend: site.baseurl }}"></script>
<script defer src="{{ "/bower_components/fancybox/source/jquery.fancybox.pack.js" | prepend: site.baseurl }}"></script>
<script defer src="{{ "/js/app.js" | prepend: site.baseurl }}"></script>
