<section class="mobile-menu hide-medium">
  <ul class="">
    {% for nav in site.data.navigation %}
      <li>
        <a href="{{site.baseurl}}/{{ nav.url }}">
          {{ nav.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
<header class="header {{ page.navurl }}">
  <div class="row limit">
    <div class="pull-left">
      <a href="{{ site.baseurl }}/"><img src="{{ "/images/logo.png" | prepend: site.baseurl }}" alt="" width="46" class="logo-name"></a>
      <a href="{{ site.baseurl }}"><img src="{{ "/images/logo-noname.png" | prepend: site.baseurl }}" alt="" width="36" class="logo-noname"></a>
    </div>
    <div class="pull-right">
      <div class="hide-medium">
        <span class="fa fa-bars menu-control" id="menu_control"></span>
      </div>
      <ul class="horz-list menu hide-small">
        {% for nav in site.data.navigation %}
          {% if nav.title == page.navname or nav.title == page.section %}
            <li class="active">
          {% else %}
            <li>
          {% endif %}
            
              <a href="{{site.baseurl}}/{{ nav.url }}">
                {{ nav.title }}
              </a>
            </li>
        {% endfor %}
      </ul>
    </div>

  </div>
</header>
<header class="features-menu-scroll">
    <div class="six shift-three">
      <div class="features-item is-happening text-yellow text-center" id="reportinglink">
        <span class="triangle"></span>
        <img src="{{ "/images/scroll-phone.png" | prepend: site.baseurl }}" alt="" width="22px" style="display:block; margin: 0 auto;">
        <h4>Reporting App</h4>
       
      </div>
      <div class="features-item text-red text-center" id="dashboardlink">
        <span class="triangle"></span>
        
          <img src="{{ "/images/scroll-computer.png" | prepend: site.baseurl }}" alt="" width="80px" style="display:block; margin: 0 auto;">
          <h4>Investigation Dashboard</h4>

      </div>
      <div class="features-item text-blue text-center" id="storylink">
        <span class="triangle"></span>
        <img src="{{ "/images/scroll-mega.png" | prepend: site.baseurl }}" alt="" width="53px" style="display:block; margin: 0 auto;">
        <h4>Storytelling Tool</h4>
        </div>
      </div>
    </div>
</header>

