.pull-left
  float: left
.pull-right
  float: right
.clearfix
  @include clearfix
a, a:link, a:visited
  text-decoration: none
  color: inherit
.big-push-down
  margin-top: 3em


@media all and (min-width: $break-big)
  .hide-big
    display: none

@media all and (min-width: $break-medium)
  .hide-medium
    display: none
  .hide-small
    display: block !important

.hide-small
  display: none
p:empty
  display: none
.text-center
  text-align: center
.text-right
  text-align: right
.no-margin
  margin-bottom: 0 !important
.no-padding
  padding: 0 !important
.uppercase
  text-transform: uppercase
.small-space-group
  margin-bottom: 1em !important
.space-group
  margin-bottom: 1.5em !important
.big-space-group
  margin-bottom: 4em !important
.bg-blue
  background: $blue
.bg-yellow
  background: $yellow
.bg-green
  background: $green
.bg-red
  background: $red
.text-white
  color: white
.text-offwhite
  color: rgba(255,255,255,.8)

%vertical-align
  position: relative
  top: 50%
  -webkit-transform: translateY(-50%)
  -ms-transform: translateY(-50%)
  transform: translateY(-50%)

figure
  img
    width: 100%
    display: block
