.hero
  height: 100%
  position: relative

.hero-container, .page-header__home
  height: 100%
  position: relative
  .hero-words
    position: absolute
    z-index: 1
    top: 100px
.hero-container .hero-words.hero-words-relative
  position: relative
.hero-text
  text-align: center
  h1
    color: white
  p
    color: rgba(255,255,255,.8)
@media all and (min-width: $break-medium)
  .page-header__home
    min-height: 550px
  .hero-text
    @include span-columns(10 16)
    @include shift(3 16)

  .hero
    overflow: hidden
    position: relative
  .hero-container .hero-words.hero-words-relative
    position: relative

  .hero-container
    position: relative
    height: 100%
    .hero-words
      width: 100%
      z-index: 1
      position: absolute
      top: 0
      margin-top: $menu-height
    img
      display: block
      position: relative
      top: 0
      width: 100%
      z-index: 0
