.module
  padding: 1.5em 0
  &:first-of-type
    padding-top: 3em
  &:last-of-type
    padding-bottom: 3em
.module-special
  padding-top: 3em
.module-gray
  background: $light-gray
.module-green
  background: $green
  color: white
@media all and (min-width: $break-medium)
  .module
    padding: 3em 0
    &:first-of-type
      padding-top: 6em
    &:last-of-type
      padding-bottom: 6em
  .module-small
    padding: 1.5em 0
  .module-special
    padding-top: 6em
